.section-title {
  font-family: "Poppins", sans-serif;
  padding-top: 8%; /* Keeping percentage */
  padding-bottom: 10%; /* Keeping percentage */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.title, .subtitle {
  position: absolute;
  top: 0;
}

.title {
  top: 50%;
  font-size: 3.8vw; /* 56px -> 56/1475 * 100 */
  font-weight: 700;
  transform: translateY(-50%);
  z-index: 1;
  color: #666;
}

.title span {
  color: #ffb400;
}

.subtitle {
  top: 50%;
  letter-spacing: 0.68vw; /* 10px -> 10/1475 * 100 */
  font-size: 7.46vw; /* 110px -> 110/1475 * 100 */
  font-weight: 700;
  transform: translateY(-50%);
  z-index: 0;
  color: rgba(30, 37, 48, 0.07);
}
