body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.icon-container {
  display: flex; 
  flex-direction: column;
   align-items: flex-end;
  gap: 0.625rem; /* Adjust the gap to add distance between icons */
}
