.icon-container {
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
  gap: 0.625rem; /* Adjust the gap to add distance between icons */
  position: fixed;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
